/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Soft blue: hsl(215, 51%, 70%)
- Cyan: hsl(178, 100%, 50%)

### Neutral

- Very dark blue (main BG): hsl(217, 54%, 11%)
- Very dark blue (card BG): hsl(216, 50%, 16%)
- Very dark blue (line): hsl(215, 32%, 27%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size (paragraph): 18px

### Font

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 300, 400, 600
 */

 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

body {
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
    margin: 0 auto;
    font-size: 18px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
    width: 240px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 1em;
}

img.nft-img {
    border-radius: 1.2em;
    max-width: 100%;
    align-self: center;
    padding: .8em;
}

h2.nft-heading {
    color: hsl(0, 0%, 100%);
    /* top | right | bottom | left */
    padding: 5px 1em 1em 1em;
}

p.nft-description {
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    font-size: .7rem;
    padding: 0px 1em 1em 1em;
}

.card-price {
    display: inline-flex;
    padding: 0 1em 1em 1em;
}

img.eth-img, .clock-img {
    width: 5px;
    height: 10px;
    margin-right: 2px;
}

p.nft-price {
    font-size: .6em;
    color: hsl(178, 100%, 50%);
    padding-right: 10px;
    margin-right: 50px;
    text-align: left;
}

p.time-remaining {
    font-size: .6em;
    color: hsl(215, 51%, 70%);
    
}

img.profile-img {
    max-width: 10%;
    border-radius: 1px solid #fff;
    margin-right: 10px;
    margin-left: 10px;
}

p.profile {
    font-size: .6em;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}