/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Soft blue: hsl(215, 51%, 70%)
- Cyan: hsl(178, 100%, 50%)

### Neutral

- Very dark blue (main BG): hsl(217, 54%, 11%)
- Very dark blue (card BG): hsl(216, 50%, 16%)
- Very dark blue (line): hsl(215, 32%, 27%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size (paragraph): 18px

### Font

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 300, 400, 600
 */

 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

body {
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
}

.container {
    width: 240px;
    height: 420px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 10px 10px rgba(0, 0, 0, 0.1);
}

img.nft-image {
    max-width: 90%;
    border-radius: 10px;
    position: relative;
    top: 10px;
    left: 12px;
}

hr {
    max-width: 95%;
    color: hsl(215, 32%, 27%);
}


p.nft-name {
    font-size: 1.2rem;
    font-weight: 600;
    color: hsl(0, 0%, 100%) ;
}

p.nft-description {
    font-size: 1rem;
    font-weight: 300;
    color: hsl(215, 51%, 70%);
}

.card-price {
    display: inline-flex;
    
}

p.price {
    font-size: 1rem;
    font-weight: 400;
    color: hsl(178, 100%, 50%);
    padding-right: 20px;
}

p.time {
    font-size: 0.8rem;
    font-weight: 300;
    color: hsl(215, 51%, 70%);
    padding-left: 30px;
}

img.profile-img {
    border: 1px solid #fff;
    border-radius: 50%;
    max-width: 25px;
    margin-top: 15px;
    margin-right: 15px;
}

.profile {
    color: hsl(0, 0%, 100%);
    font-size: 10px;
}

p.profile, img.profile-img {
    display: inline;
}

